:root {
  --bg-color: #87CEEB;
  --text-color: #160A47;
}

* {
  font-family: 'Staatliches', cursive;
}

body {
  transition: background 450ms ease, color 450ms ease;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  background: var(--bg-color);
  color: var(--text-color);
  
  .air {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    top: 20px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: calc(100vh - 150px);
    canvas {
      transition: opacity 450ms ease;
      opacity: 0;
      margin-top: auto;
    }
    time {
      font-size: 6vw;
      margin-top: 100px;
      margin-bottom: auto;
    }

    @media screen and (max-width: 600px) {
      flex-flow: column-reverse nowrap;

      canvas {
        margin-top: 0;
      }
      time {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: 0;
        font-size: 56px;
      }
    }
  }

  .earth {
    position: relative;
    z-index: 1;
    height: 150px;
    width: 100%;
    display: flex;
    flex-flow: column-reverse nowrap;
    * {
      transition: all 450ms ease;
    }

    #grass {
      width: 100%;
      height: 0;
      background: green;
    }

    #dirt {
      width: 100%;
      height: 0;
      background: brown;
    }
  }

  #clear {
    transition: all 150ms ease;
    outline: none;
    border: none;
    background: #160A47;
    color: #87CEEB;
    line-height: 1.5rem;
    font-size: 1rem;
    padding: 0.25rem 1.25rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 3;
    letter-spacing: 0.1rem;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 1.2rem rgba(0,0,0,0.2), 0 2px 0.4rem rgba(0,0,0,0.3);
    }

    @media screen and (max-width: 600px) {
      width: calc(100% - 2rem);
      bottom: 1.5rem;
      left: 0;
      right: 0;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}
